
.image-selector img {
  max-width: 200px;
}
#drawing-area {
  width: 800px;
  height: 600px;
  border: 1px solid black;
  position: relative;
}
.draggable {
  position: absolute;
}

.accordion-body {
  max-height: 500px;
  overflow-y: scroll;
}

.selected {
  border: 1px yellow dotted;
}


.tool-bar-item {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: beige;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.material-symbols-outlined {
  font-size: 35px;
}